body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;

}

h5{
    color: grey;
    font-size: 14px;
    text-align: center;

}

.facebook-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 60px;
    color: blue;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
.fill-ins{
    height: 40px;
    width: 300px;
    margin: 5px 0 5px 0;
    border: solid 1px lightgrey;
    border-radius: 5px;    
    
}

.button{
    margin: 5px 0 5px 0;
    height: 40px;
    width: 300px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.forgotpassword{
    margin: 5px 0 5px 0;
    color: gray;
}